@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hanken Grotesk", system-ui;
  background: linear-gradient(to bottom, hsl(0, 86%, 17%), rgb(37, 36, 36));
  color: white;
  margin: 0; /* Ensure no margin around the body */

}


/* Keyframes for seamless scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Wrapper for horizontal scrolling */
.scrolling-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Container for scrolling content */
.scrolling-content {
  display: flex;
  animation: scroll 20s linear infinite;
}

/* Inner container to ensure seamless looping */
.scrolling-content-inner {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
